- cdate = local(thing.created_at).strftime("%B %d, %I:%M %p")
- whitespace = /^ *$/
- if whitespace.match(thing.text)
  - usercomment = "&nbsp;"
- else
  - usercomment = thing.text
%div.userThings
  %div.userComment
    %blockquote
      %p
        = avatar(thing.user, 25)
        = usercomment
  %cite.userComment
    = thing.subcategory.name
    = "-"
    - if current_page?(thing)
      = cdate
    - else
      = link_to cdate, thing
    - if defined?(show_user) && show_user
      \-
      = link_to thing.user.login, thing.user
