- cdate = local(thing.created_at).strftime("%B %d, %I:%M %p")
%div.userThings
  .userComment
    %blockquote
      %p
        = avatar(thing.user, 25)
        - unless thing.text.blank?
          = thing.text
        - else
          %span.blank
            = "#{thing.user.login} did a thing!"
  %cite.userComment
    = thing.subcategory.name
    = "-"
    - if current_page?(thing)
      = cdate
    - else
      = link_to cdate, thing
    - if defined?(show_user) && show_user
      \-
      = link_to thing.user.login, thing.user
