- cdate = local(thing.created_at).strftime("%B %d, %I:%M %p")
%div.userThings
  .userComment
    %blockquote
      %p
        = avatar(thing.user, 25)
        - unless thing.text.blank?
          = thing.text
        - else
          %span.blank
            = "#{thing.user.login} did a thing!"
  %cite.userComment
    = thing.subcategory.name
    = "-"
    - if current_page?(thing)
      = cdate
    - else
      = link_to cdate, thing
    - if defined?(show_user) && show_user
      \-
      = link_to thing.user.login, thing.user
    - unless current_page?(thing)
      - if thing.comments.count > 0
        \-
        = link_to pluralize(thing.comments.count, 'comment'), thing_path(thing, :anchor => 'comments')
      \-
      = link_to "add a comment", thing_path(thing, :anchor => 'comments')
      = link_to image_tag('tiny-comment.png'), thing_path(thing, :anchor => 'comments'), :class => 'comment_img'
