%h2= "#{@user.login}'s page"

%p
  = "#{@user.login} has done #{pluralize(@user.things.count, 'thing')} and earned #{pluralize(@user.points,'point')}!"
  
  = render :partial => 'things/thing', :collection => @user.things
