%h1 I'm a user page!

%h2= "#{@user.login}'s page"

%p
  = "#{@user.login} has done #{pluralize(@user.things.count, 'thing')}!"
  
%ul
  - @user.things.each do |thing|
    - cdate = thing.created_at.strftime("%B %d, %I:%M %p")
    %li
      = thing.text
      = "(#{thing.subcategory.name})"
      = "--"
      %i
        = "(#{cdate})"

