%h2= "#{@user.login}'s page"

%p
  = "#{@user.login} has done #{pluralize(@user.things.count, 'thing')} and earned #{@user.points} points!"
  
  - @user.things.each do |thing|
    - cdate = local(thing.created_at).strftime("%B %d, %I:%M %p")
    - whitespace = /^ *$/
    - if whitespace.match(thing.text)
      - usercomment = "&nbsp;"
    - else
      - usercomment = thing.text
    %div.userThings
      %div.userComment
        %blockquote
          %p
            = usercomment
      %cite.userComment
        = "(#{thing.subcategory.name})"
        = "-"
        = "(#{cdate})"

