#catchphrase
  
  #beta_bubble
    %a{ :href => 'http://everyday1thing.uservoice.com/forums/47005'}
      = image_tag 'betaBubble.png'

  #login
    - if !logged_in?
      = link_to "Log in with Twitter", twitter_login_path, :class => 'awesome'
      #or
        or
      = link_to 'Sign up', signup_path, :class => 'awesome'
    - else
      = "#{link_to 'I did a thing', post_path}!"

  #what_thing
    %a{ :href => about_path }
      = image_tag 'whatonething.png'
      

- if logged_in?
  #me
    #my_feed
      %h3 Recent things I did

    %ul.plain.things
      = render :partial => 'things/thing', :collection => current_user.things.find(:all, :limit => 3)

    #my_totals
      %h3.add_up My totals

      %ul.plain.categories
        %table
          %tr.totals
            - @todays_totals.each do |t|
              %td{ :class => t[:total] > 0 ? '' : 'zero' }= t[:total]
          %tr.categories
            - @todays_totals.each do |t|
              %td= t[:category].name
  
#everyone{ :class => logged_in? ? 'right' : ''}
  #global_feed
    %h3 Recent things we did

    %ul.plain.things
      = render :partial => 'things/thing', :collection => @latest_things, :locals => { :show_user => true } 

  #global_totals
    %h3.add_up How we add up

    %ul.plain.categories
      %table
        %tr.totals
          - @todays_totals.each do |t|
            %td{ :class => t[:total] > 0 ? '' : 'zero' }= t[:total]
        %tr.categories
          - @todays_totals.each do |t|
            %td= t[:category].name
