- if flash[:message]
  #message
    = flash[:message]

#catchphrase
  

  #login{ :class => logged_in? ? 'logged_in' : '' }
    - if !logged_in?
      = link_to "Log in with Twitter", twitter_login_path, :class => 'awesome'
      #or
        or
      = link_to 'Sign up', signup_path, :class => 'awesome'
    - else
      = render :partial => 'things/new_thing'

  - unless iphone? || logged_in?
    :plain
      <style type="text/css">
        #login {
          width: auto !important;
          float: left;
          padding-top: 50px;
        }

        #video {
          display: inline;
        }

        #vp1Ulg01 {
          width: 400px;
          margin-left: 15px;
        }
      </style>

    #video
      <object id="vp1Ulg01" width="400" height="222" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"><param name="movie" value="http://static.animoto.com/swf/w.swf?w=swf/vp1&e=1275234494&f=Ulg013ldqfbsZM0iFxAnvg&d=134&m=a&r=w&i=m&ct=Every%20Day%20One%20Thing&cu=http://www.everydayonething.org&options="></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed id="vp1Ulg01" src="http://static.animoto.com/swf/w.swf?w=swf/vp1&e=1275234494&f=Ulg013ldqfbsZM0iFxAnvg&d=134&m=a&r=w&i=m&ct=Every%20Day%20One%20Thing&cu=http://www.everydayonething.org&options=" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="432" height="240"></embed></object>

- if logged_in?
  #me
    #my_feed
    
      %p= "You've done #{pluralize(current_user.things.count, 'thing')} and earned #{pluralize(current_user.points,'dot')}!"
      
      - c = current_user.new_replies.count      
      - if c > 0
        %p
          Other edotters have left
          - english_count = c.to_alphabetic
          - label = (c == 1) ? 'comment' : 'comments'
          /= link_to pluralize(current_user.replies.count, 'comment'), replies_path
          = link_to "#{english_count} #{label}", replies_path
          on your things since you last checked.
      - elsif current_user.replies.count > 0 # have had comments, just no new comments
        %p No new comments. Check back soon!

      %h3 Recent things I did
      
    %ul.plain.things
      = render :partial => 'things/thing', :collection => current_user.things.find(:all, :limit => 3)

    = link_to "more of my things...", current_user, :class => 'more'
    
    - unless iphone?
      #my_totals
        %h3.add_up My total things

        %ul.plain.categories
          %table
            %tr.totals
              - @user_totals.each do |t|
                %td{ :class => t[:total] > 0 ? '' : 'zero' }= t[:total]
            %tr.categories
              - @user_totals.each do |t|
                %td= t[:category].name
  
#everyone{ :class => logged_in? ? 'right' : ''}
  #global_feed
    %h3 Recent things we did

    %ul.plain.things
      = render :partial => 'things/thing', :collection => @latest_things, :locals => { :show_user => true } 
      
    = link_to 'more things...', things_path, :class => 'more'

  - unless iphone?
    #global_totals
      %h3.add_up= "How all #{User.count} of our edotters add up:"

      %ul.plain.categories
        %table
          %tr.totals
            - @todays_totals.each do |t|
              %td{ :class => t[:total] > 0 ? '' : 'zero' }= t[:total]
          %tr.categories
            - @todays_totals.each do |t|
              %td= t[:category].name
