
#catchphrase
  %h1 Every Day One Thing

  %p
    Everything you do for your community matters.
  
  %p
    - if !logged_in?
      = "Please #{link_to 'sign up', signup_path}!"
    - else
      = "I #{link_to 'did a thing', post_path}!"

%hr/   
      
%h3 Top Feeds

%ul.plain.things
  - @latest_things.each do |thing|
    %li.thing
      %span.user_link= link_to thing.user.login, thing.user
      &mdash;
      %span.category= "#{thing.subcategory.name},"
      %span.points= "#{thing.subcategory.points} pts."
      %span.text= thing.text
      %span.stats_link= link_to 'my edot stats', thing.user
  

%h3 Top Do Gooders