
#catchphrase
  %h1 Every Day One Thing

  %p
    How do you add up?
  
  %p
    - if !logged_in?
      = "Please #{link_to 'sign up', signup_path}!"
    - else
      = "#{link_to 'I did a thing', post_path}!"

%hr/   
      
%h3 Top Feeds

%ul.plain.things
  - @latest_things.each do |thing|
    %li.thing
      %span.user_link= link_to thing.user.login, thing.user
      &mdash;
      %span.category= "#{thing.subcategory.category.name}: #{thing.subcategory.name},"
      %span.points= "#{thing.subcategory.points} pts."
      %span.text= thing.text
      %span.stats_link= link_to 'my edot stats', thing.user
  

%h3 Top Do Gooders

%ul.plain.users
  - @top_users.each do |u|
    %li= "#{link_to(u.login, u)}: #{u.points} pts"
   