:erb
  <%= periodically_call_remote :update => 'recent', :frequency => '5', :url => feeds_path, :method => :get %>


#catchphrase
  %h1 Every Day One Thing

  %p
    How do you add up?
  
  %p
    - if !logged_in?
      = "Please #{link_to 'sign up', signup_path}!"
    - else
      = "#{link_to 'I did a thing', post_path}!"

#recent
  = render :partial => 'feeds'