%h2 Top users

%ol#top_users
  - @top_users.each do |u|
    %li
      = "#{link_to u.login, u} (#{u.points} dots)"
      - if logged_in? && current_user.admin?
        %span.contact
          - if u.twitter_id
            = link_to 'twitter', "http://twitter.com/#{u.login}"
          - if u.email
            = link_to 'email', "mailto:#{u.email}"