- comments = @thing.comments
- new_comment = @comment || @thing.comments.new
%a{ :name => 'comments' }
#comments
  
  %ul.comments
    - comments.each do |comment|
      .comment
        .content
          = avatar(comment.user, 15)
          = comment.comment
        %cite
          = link_to_user comment.user
          at
          = format(comment.created_at)
        
          - if logged_in? && comment.user == current_user
            %span.delete
              = link_to 'x', thing_thing_comment_path(@thing, comment), :method => :delete, :confirm => "Are you sure you want to delete your comment?"
          
#comment_form
  - if logged_in?
    - semantic_form_for new_comment, :url => thing_thing_comments_path(@thing) do |f|
      = f.semantic_errors
      = f.input :comment, :label => '', :input_html => { :class => 'thing_text' }
      - f.buttons do
        = f.commit_button :label => 'Add your comment!', :button_html => { :class => 'awesome' }
  - else
    #log_in_to_comment
      = "#{link_to 'Log in', login_path} to leave a comment."