- semantic_form_for @category do |f|
  = f.inputs
  = f.buttons
  
%ul
  - @category.subcategories.each do |sub|
    %li
      = sub.name
      = link_to 'edit', edit_subcategory_path(sub)

%hr/

= link_to '+ create new subcategory', new_subcategory_path(:category_id => @category.id)