%ul
  - @categories.each do |cat|
    %li
      = cat.name
      = link_to 'edit', edit_category_path(cat)
      = link_to 'delete', category_path(cat), :method => :delete, :confirm => "Are you sure you want to delete? #{cat.name}"
      
%hr/

= link_to '+ create new category', new_category_path