!!!
%html
  %head
    / = javascript_include_tag 'prototype'

    :plain
      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/prototype/1.6.1/prototype.js"></script>
      <script type="text/javascript" src="http://use.typekit.com/jeg2jrz.js"></script>
      <script type="text/JavaScript" src="/javascripts/rounded.js"></script>
      

    = stylesheet_link_tag 'formtastic'
    = stylesheet_link_tag 'formtastic_changes'
    = stylesheet_link_tag 'styles'
    = stylesheet_link_tag 'awesome_buttons'
    = stylesheet_link_tag 'rounded'
    
    - if iphone?
      = stylesheet_link_tag 'iphone'
      %meta{ :name => 'viewport', :content => 'width=device-width,user-scalable=no' }
      %link{ :rel => 'apple-touch-icon', :href => '/images/EdotEarthAvatar_bigger.png' }

    %title= iphone? ? 'EDOT' : 'Every Day One Thing'
    
  %body
    - unless iphone?
      %a#banner{ :href => root_path }
        = image_tag "edot-banner-nobackground.png"
    - else
      #banner
        Every Day One Thing
    #header
      =# link_to iphone? ? 'home' : 'Every Day One Thing', root_path, :class => 'home_link'
      %ul
        - if iphone?
          %li
            = link_to 'home', root_path
        - if logged_in?
          - unless iphone?
            %li
              = avatar(current_user, 20) unless iphone?
              = "Hey there, #{current_user.login}!"
          - if current_user.is_admin?
            %li
              = link_to "Admin", admin_path
          %li
            = link_to "Log out", logout_path
        - else
          %li
            = link_to "Log in", login_path
          %li
            = link_to "Sign up", signup_path
        %li 
          = link_to 'about', about_path
        %li 
          = link_to 'blog', 'http://everydayonething.wordpress.com'
        %li.last 
          %a{ :href => 'http://cafepress.com/everyday1thing' } store

  
    #main
        
      = yield
    
    - if Rails.env.production?
      #tracker
        :plain
          <script src="http://static.getclicky.com/js" type="text/javascript"></script>
          <script type="text/javascript">clicky.init(196401);</script>
          <noscript><p><img id="clicky-img" alt="Clicky" width="1" height="1" src="http://in.getclicky.com/196401ns.gif" /></p></noscript>

    - if false #unless iphone?
      :plain
        <script type="text/javascript">
          var uservoiceOptions = {
            key: 'everyday1thing',
            host: 'everyday1thing.uservoice.com', 
            forum: '47005',
            alignment: 'left',
            background_color:'#316790', 
            text_color: 'white',
            hover_color: '#06c',
            lang: 'en',
            showTab: true
          };
          function _loadUserVoice() {
            var s = document.createElement('script');
            s.src = ("https:" == document.location.protocol ? "https://" : "http://") + "uservoice.com/javascripts/widgets/tab.js";
            document.getElementsByTagName('head')[0].appendChild(s);
          }
          _loadSuper = window.onload;
          window.onload = (typeof window.onload != 'function') ? _loadUserVoice : function() { _loadSuper(); _loadUserVoice(); };
        </script>
